<h1>Plugin Creator</h1>
<h2>
  Create a new plugin
</h2>

<form (ngSubmit)="onSubmit()" #createPluginForm="ngForm">
  <input type="text" placeholder="Plugin name" [(ngModel)]="pluginFormModel.name" name="Name" required>
  <input type="text" placeholder="Web app url" [(ngModel)]="pluginFormModel.url" name="Url" required>
  <input type="text" placeholder="Ctrl+a" [(ngModel)]="pluginFormModel.accelerator" name="Accelerator">
  <button type="submit" [disabled]="!createPluginForm.form.valid">Create plugin</button>
</form>

<h2>Installed Plugins</h2>
<ul *ngFor="let plugin of installedPlugins">
  <li *ngIf="plugin.url">{{plugin.name}} <button (click)="removePlugin(plugin.name)">Remove</button></li>
</ul>
